<h1><%= @project.name %></h1>

<h2><%= @total %> hours worked this month </h2>

<%=link_to("Create new entry", new_project_entry_path) %>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <p>
      <%= entry.date.strftime('%a %d %b %Y') %>
      <br>
      <%= entry.hours %> hours and <%= entry.minutes %> minutes 
      <br>
      -- <%= entry.comments %> --
      </p>
    </li>
  <% end %>
</ul>




